body{
    background:white;
    padding-top:150px;
    
}
    .stopwatch{
    width:50%;
    text-align:center;
    padding-top:40px;
    padding-bottom:40px;
    margin:auto;
    box-shadow:0 10px 10px;
    background: pink;
    } 

    .buttons{
        display:flex;
        align-items: center;
        justify-content: center;
    }

    .buttons img{
        height:100px;
        width:100px;
        margin: 0 20px;
        cursor:pointer;
    }


